{% extends 'HSDOnSecBundle::base.html.twig' %}

{% block content %}
    <h1>neuen Benutzer Anlegen</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Speichern" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Zurück zur Liste</a>
        </li>
    </ul>
{% endblock %}
