<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets
        'css/bootstrap.min.css'
        'css/dashboard.css'
        'css/font-awesome.min.css'
        'css/main.css'
        'css/Instruction.css'
        'css/Style.css'
        filter='cssrewrite' output='css/compiled/app.css' %}
        <script>console.log("asset_url: {{ asset_url }}")</script>
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    {% block ownStylesheets %} {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% block javascript %}
        {% javascripts
        'js/angular.min.js'
        'js/tether.min.js'
        'js/jquery.min.js'
        'js/bootstrap.min.js'
        output='js/compiled/app.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
</head>
<body id="site-body">
<header id="row">
    {% block header %}
        <div id="col-md-12">
            <div class="navbar navbar-mainmain">
                {% block navigation %}
                    {% include 'navigation.html.twig' %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</header>
<div class="container site-content">
    {% block content %}{% endblock %}
</div>
{% block footer %}
    <footer class="impressum" id="col-md-12">
        <h1 class="footerSize">Impressum und Copyright</h1>
    </footer>
{% endblock %}
</body>
</html>