{% macro moderators_input(entity) %}

<div class="ui-widget add">
    <label for="access-rights-input">Rechte vergeben:</label>
    <input id="access-rights-input" class="form-control" type="text" placeholder="Name oder E-Mail" autocomplete="on">
</div>

<table class="table" id="rights-table">
    <thead class="thead-inverse tablehead">
    <tr>
        <th>Name</th>
        <th>Rang</th>
        <th>Aktionen</th>
    </tr>
    </thead>

    <tbody id="tablebody" class="tablebody">
        <tr>
            <td>
                {{ '%s %s'|format(app.user.firstname,app.user.surname) }}
            </td>

            <td>
                Eigentümer
            </td>

            <td>

            </td>
        </tr>
    </tbody>
</table>

<script>

$("#access-rights-input").autocomplete({
    source: '{{ path('moderator_autocomplete') }}',
    minLength: 2,
    select: function( event, ui ) {
        addModerator(ui.item.label, ui.item.id);
        console.log(ui.item.label);
        $("#access-rights-input").val('');
        return false;
    }
});

function addModerator(value, id) {
  var tablebody = document.getElementById('tablebody');
  var newRow = document.createElement('tr');
  newRow.className = 'moderator_row';
  newRow.setAttribute('id','moderator_' + id);

  var newModerator = document.createElement('td');
  newModerator.setAttribute('id','new_id_for_new_collumn');
  newModerator.innerHTML = value;

  var $newHiddenElement   = $('<input type="hidden"/>');
  $newHiddenElement.attr('id',"hidden_moderator_" + id);
  $newHiddenElement.attr('name',"moderatorId[]");
  $newHiddenElement.val(id);

  var newModeratorTitle = document.createElement('td');
  newModeratorTitle.innerHTML = 'Bearbeiter';

  var $actionsCol = createActionsTd(id);

  newRow.appendChild(newModerator);
  $('#rights-table').append($newHiddenElement);
  newRow.appendChild(newModeratorTitle);
  newRow.appendChild($actionsCol.get(0));
  tablebody.appendChild(newRow);
}

function createActionsTd(id) {
  var $td = $('<td>');

  var $removeBtn = $('<a href="#">Löschen</a>');
  $removeBtn.click(function(e) {
    e.preventDefault();
    $('#hidden_moderator_' + id).remove();
    $('#moderator_' + id).remove();
  })

  $td.append($removeBtn);

  return $td;
}

function fillModeratorsFromSymfony() {
  {% for mod in entity.moderators %}
    var value = "{{ mod.firstname ~ ' ' ~ mod.surname ~ ' (' ~ mod.email ~ ')' }}";
    var id    = {{ mod.id }};
    addModerator(value, id);
  {% endfor %}
}

$( document ).ready(function() {
    fillModeratorsFromSymfony();
});

</script>

{% endmacro %}
