{% macro questions_input(parent_form) %}
  <ul class="questions"
    >
    <input type="text"
      name="onsec_onsecbundle_instruction[questions][0][questionText]"/>

    <input type="text"
      name ="onsec_onsecbundle_instruction[questions][0][answers][0][answerText]"/>
  </ul>

  <script>
  var $collectionHolder;

  var $addLink = $('<a href="#" class="add_link">Frage hinzufügen</a>');
  var $newLinkLi = $('<li></li>').append($addLink);

  jQuery(document).ready(function() {
    $collectionHolder = $('ul.questions');
    $collectionHolder.append($newLinkLi);
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addLink.on('click', function(e) {
      e.preventDefault();
      addForm($collectionHolder, $newLinkLi);
    });

  });

  function addForm() {
    var prototype = $collectionHolder.data('prototype');
    var index = $collectionHolder.data('index');

    var newForm = prototype.replace(/__name__/g, index);

    $collectionHolder.data('index', index + 1);

    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
  }
  </script>
{% endmacro %}
