{% extends "::base.html.twig" %}
{% block body %}

<div class="panel panel-default">
        <div class="panel-heading">
            <img src="img/HSD_Logo.png" class="hsdLogo pull-left"/>

            <button type="button" class="btn btn-info pull-right">Help</button>
            <h1>Sicherheitsunterweisung</h1>
            <div class="clearfix"></div>
        </div>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" >eine Frage bearbeiten</button>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Frage bearbeiten</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="question-text" class="control-label">Frage:</label>
                                <textarea class="form-control" id="question-text"> Was muss man bei der Verwendung von Trittleitern beachten?</textarea>
                            </div>
                            <div class="form-group">
                                <label for="question-text" class="control-label">Trittleiter.png</label>
                                <button type="button" class="btn btn-primary btn pull-right">neues Bild hochladen</button>
                                (nur ein Bild pro Frage möglich)
                            </div>
                            <div class="form-group">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Richtigkeit</th>
                                        <th>Text</th>
                                        <th>Löschen</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td><input type="checkbox" data-toggle="toggle" data-width="100" data-on="richtig" data-off="falsch" data-onstyle="success" data-offstyle="danger"></td>
                                        <td>Benutzen Sie Leitern und Tritte mit sämtlichem Schuhwerk.</td>
                                        <td><button type="button" class="btn btn-danger glyphicon glyphicon-trash"></button></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" checked data-toggle="toggle" data-width="100" data-on="richtig" data-off="falsch" data-onstyle="success" data-offstyle="danger"></td>
                                        <td>Führen Sie auf Leitern nur einfache Arbeiten aus.</td>
                                        <td><button type="button" class="btn btn-danger glyphicon glyphicon-trash"></button></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" checked data-toggle="toggle" data-width="100" data-on="richtig" data-off="falsch" data-onstyle="success" data-offstyle="danger"></td>
                                        <td>Achten Sie darauf, dass Sie auf Leitern sicher stehen und sich festhalten können.</td>
                                        <td><button type="button" class="btn btn-danger glyphicon glyphicon-trash"></button></td>
                                    </tr>
                                    <tr>
                                        <td><input type="checkbox" data-toggle="toggle" data-width="100" data-on="richtig" data-off="falsch" data-onstyle="success" data-offstyle="danger"></td>
                                        <td>Stellen Sie Leitern und Tritte immer auf einem unebenen Grund auf.</td>
                                        <td><button type="button" class="btn btn-danger glyphicon glyphicon-trash"></button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="input-append">
                                <label class="control-label">neue Antwortmöglichkeit:</label>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                    <input type="checkbox" checked data-toggle="toggle" data-width="100" data-on="richtig" data-off="falsch" data-onstyle="success" data-offstyle="danger">
                                    </span>
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">hinzufügen</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">abbrechen</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">speichern und schließen</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-dismiss="modal" data-target="#exampleModal2" >speichern und neue Frage</button>
                    </div>
                </div>
            </div>
        </div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2" >neue Frage hinzufügen</button>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel2">neue Frage erstellen</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="question-text" class="control-label">Frage:</label>
                        <textarea class="form-control" id="question-text2"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="question-text" class="control-label"></label>
                        <button type="button" class="btn btn-primary btn pull-right">neues Bild hochladen</button>
                        (nur ein Bild pro Frage möglich)
                    </div>
                    <div class="form-group">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Richtigkeit</th>
                                <th>Text</th>
                                <th>Löschen</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="input-append">
                        <label class="control-label">neue Antwortmöglichkeit:</label>
                        <div class="input-group">
                                    <span class="input-group-btn">
                                    <input type="checkbox" checked data-toggle="toggle" data-width="100" data-on="richtig" data-off="falsch" data-onstyle="success" data-offstyle="danger">
                                    </span>
                            <input type="text" class="form-control">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">hinzufügen</button>
                                    </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">abbrechen</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">speichern und schließen</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2" >speichern und neue Frage</button>
            </div>
        </div>
    </div>
</div>

</div><!-- /.modal -->
        <div class="panel-footer">
        </div>
{% endblock %}
