{% extends "::base.html.twig" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<h1>Dashboard</h1>
<a href="{{ path('createLecture') }}">Kurs erstellen</a>
<a href="{{ path('createInstruction') }}">Unterweisung erstellen</a>
{% endblock %}
