body {
	background-color: #444243 !important;
	font-size: 20px !important;
}

.innercontainer {
	background-color: #FFFFFF !important;
	padding: 10px;
	border-top-right-radius:10px;
}
	
.panel-heading {
	cursor:pointer;
	height: 50px;
}

.panel-heading>h4 {
	top: 5px;
	font-size: 25px;	
}

.nav-tabs {border-bottom: 0px !important;}
.unactive>a {
	background-color: #e7e5e6 !important;
	color: #000000;
}
.unactive>a:hover {
	color: #e6042a;
}
.active>a {background-color: #FFFFFF !important;}

.maininput {
    background-color: #b3b1b2;
	width: 100%;
	height: 50px;
	border: 0px;
	outline-width: 0;
	color: #FFFFFF;
	padding-left: 10px;
}

.innerinnercontainer
{
	background-color: #e9e7e8;
	padding: 5px;
}

.panel-collapse{
	background-color: #e9e7e8;
	border: 0px;
}

.fa {
	font-size: 30px !important;
	padding: 0px 5px 0px 5px;
	float:right;
}

.fa-users {
	color: #ff294d;
}

.fa-cog {
	color: #b4b2b3;
}

.left {
	padding-left: 5px;
	float: right;
}

.red {
	padding-right: 15px;
	color: #e6042a;
}

.green {
	padding-right: 29px;
	color: #64b333;
}

.blue {
	padding-right: 71px;
	color: #00afd8;
}

hr {
  border-color:#cecccd !important;
  height:1px;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FFFFFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFFFFF;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFFFFF;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #FFFFFF;
}