/* ============================================================
  COMMON
============================================================ */

.innercontainer {
    background-color: #e9e7e8;
    padding: 10px;
    border-top-right-radius:10px;
}

#topnav {
    float:right;
}

#topnav a {
    background-color: #ff294d;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 1px 10px 1px 10px;
}

.card-header {
    cursor:pointer;
    height: 50px;
}

.card-header>h4 {
    top: 20px;
    font-size: 25px;
}

.nav-tabs {
    border-bottom: 0px !important;
    margin-top: 20px;
}

.nav-link {
    background-color: #FFFFFF;
}

a:hover {
    color: #e6042a;
}

.nav-link.active {
    background-color: #e7e5e6 !important;
}

.maininput {
    background-color: #b3b1b2;
    width: 100%;
    height: 50px;
    border: 0px;
    outline-width: 0;
    color: #FFFFFF;
    padding-left: 10px;
}

.innerinnercontainer
{
    background-color: #e9e7e8;
    padding: 5px;
}

.card-collapse{
    background-color: #e9e7e8;
    border: 0px;
}

.fa {
    font-size: 30px !important;
    padding: 0px 5px 0px 5px;
    float:right;
}

.fa-users {
    color: #ff294d;
}

.fa-cog {
    color: #b4b2b3;
}

.right {
    padding-left: 5px;
    float: right;
}

.red {
    padding-right: 15px;
    color: #e6042a;
}

.green {
    padding-right: 29px;
    color: #64b333;
}

.blue {
    padding-right: 71px;
    color: #00afd8;
}

hr {
    border-color:#cecccd !important;
    height:1px;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.checkbuttonclose {
    float: right;
    background-color: #df0328;
    margin-top: -5px;
    padding: 2px 3px 2px 3px;
    -webkit-box-shadow: inset 0px 0px 25px -2px rgba(0,0,0,0.39);
    -moz-box-shadow: inset 0px 0px 25px -2px rgba(0,0,0,0.39);
    box-shadow: inset 0px 0px 25px -2px rgba(0,0,0,0.39);
}

.checkbuttonopen {
    float: right;
    background-color: #60af30;
    margin-top: -5px;
    padding: 2px 0px 2px 0px;
    -webkit-box-shadow: inset 0px 0px 25px -2px rgba(0,0,0,0.39);
    -moz-box-shadow: inset 0px 0px 25px -2px rgba(0,0,0,0.39);
    box-shadow: inset 0px 0px 25px -2px rgba(0,0,0,0.39);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FFFFFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #FFFFFF;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFFFFF;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #FFFFFF;
}

/* ============================================================
  SWITCH - ROUND
============================================================ */

.input_checkbox {
    top: -3px;
    left: 5px;
    position: absolute;
}

.switch {
    margin-left: 20px;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: -5px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: -9px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff294d;
    -webkit-transition: .4s;
    transition: .4s;
    text-align:right;
    color:white;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
    padding:  0 10px 0 10px;
}

.slider:before {
    position: absolute;
    width: 27px;
    height: 27px;
    left:0px;
    bottom: -1px;
    top: -1px;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    content: "";
}

input:checked + .slider {
    background-color: #ff294d;
    text-align:left;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ff294d;
}

input:checked + .slider:before {
    -webkit-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform: translateX(60px);
}