.headerInstruction{
    font-size: 20pt;
}

.fragenbild {
    max-height: 300px;
}

.questions {
    margin: 20px 0 50px 0;
}

.info-text {
    font-style: italic;
    color: #a1a1a1;
}

.action-icon {
  font-size: 12px !important;
  padding: 0;
}
