.headerInstruction{
    font-size: 25pt;
    font-weight: bold;
}

.fragenbild {
    max-height: 400px;
    max-width: 500px;
}

.questions {
    margin: 20px 0 50px 0;
}

.info-text {
    font-style: italic;
    color: #a1a1a1;
}

.action-icon {
  font-size: 12px !important;
  padding: 0;
}

.keyword {
  display: inline-block;
  background: #00afd8;
  color: #eee;
  padding: 0 5px;
  border-radius: 5px;
}

.keyword-tag-in-form {
  display: inline-block;
  margin: 5px;
  padding: 5px;
}

.keyword-tag-in-form span {
  color: #eee;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #00afdd;
  padding: 5px;
}

.keyword-tag-in-form a {
  background: #0066dd;
  color: #eee;
  text-decoration: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 10px;
}

.keyword-list {
    list-style: none;
    padding-left: 0;
}

.questions {
    padding-left: 10px;
}

.question {
    border-left: 3px solid #00afdd;
    padding: 14px 0 14px 10px;
    margin-bottom: 20px;
}

.question-imagePath-container {

}

.question-imagePath-input {
    display: inline-block;
    width: 30%;
}

.question-imagePath-button {
    display: inline-block;
    margin-top: -4px;
}

.question-remove-button {
    float: right;
    color: #c40 !important;
}

.answer {
    display: flex;
}

.answer-answerText-input {
    flex: 1 0;
    margin-left: 10px;
}

.answer-isCorrect-input {
    padding-top: 6px;
    margin: 0 10px 0 10px;
}

.answer-remove-container {
    padding-top: 4px;
    width: 14px;
}

.answer-add-button {
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.buttonHidden {
    visibility: hidden;
}

.buttonVisible {
    visibility: visible;
}

textarea {
    resize: none;
}

.questionText {
    font-weight: bold;
    font-size: 17px;
}

.marginFrage {
    margin-bottom: 20px;
}

.marginAntwort{
    margin-top: 2px;
    margin-bottom: 2px;
}
